<a href="https://colab.research.google.com/github/Jenn-mawia/Autolib-Electric-car-sharing/blob/master/Autolib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [ ]:
# import pandas library
import pandas as pd

# import numpy library
import numpy as np

# Reading dataset from csv file

The dataset to be used for this project contains Autolib's electric-car sharing services for the month of April 2018 over a period of 9 days. 

This data can be found [here](http://bit.ly/autolib_datasethttp://bit.ly/autolib_dataset) for access or download

In [ ]:
# Read the data from the CSV file and create the dataframe to be used
autolib = pd.read_csv("Autolib_dataset (2).csv")

## Preview dataset

In [ ]:
# preview first 5 rows
autolib.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# Accessing Information about the dataset

In [ ]:
# Getting to know more about the dataset
#
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Data Cleaning

## Validity

In [ ]:
# Procedure: Syntax Errors
# Data Cleaning Action: Check for syntax errors in columns with strings 
# Explanation: strip leading and trailing spaces in the strings

autolib[autolib.columns[0]] = autolib[autolib.columns[0]].str.strip()
autolib[autolib.columns[6]] = autolib[autolib.columns[6]].str.strip()
autolib[autolib.columns[7]] = autolib[autolib.columns[7]].str.strip()
autolib[autolib.columns[8]] = autolib[autolib.columns[8]].str.strip()
autolib[autolib.columns[9]] = autolib[autolib.columns[9]].str.strip()
autolib[autolib.columns[10]] = autolib[autolib.columns[10]].str.strip()
autolib[autolib.columns[11]] = autolib[autolib.columns[11]].str.strip()
autolib[autolib.columns[13]] = autolib[autolib.columns[13]].str.strip()
autolib[autolib.columns[14]] = autolib[autolib.columns[14]].str.strip()
autolib[autolib.columns[15]] = autolib[autolib.columns[15]].str.strip()
autolib[autolib.columns[17]] = autolib[autolib.columns[17]].str.strip()
autolib[autolib.columns[18]] = autolib[autolib.columns[18]].str.strip()
autolib[autolib.columns[19]] = autolib[autolib.columns[19]].str.strip()
autolib

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
# Procedure: Irrelevant data
# Data Cleaning Action: drop columns that are not needed
# Explanation: not needed during analysis

autolib.drop(["Displayed comment", "Scheduled at", "ID", "Geo point"], axis = 1, inplace = True) 
# view final dataframe
autolib

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 21 columns]

In [ ]:
# rename column "Public name" to station
autolib.rename(columns = {'Public name':'station'}, inplace = True)
autolib.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City', 'Kind',
       'Postal code', 'station', 'Rental status', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

## Accuracy

In [ ]:
# check for in-record errors
# determine and fix errors where the number of cars is not equal to the number of bluecars-should be equal

autolib[autolib['Cars'] != autolib['Bluecar counter']]

# no rows found with this error

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Kind, Postal code, station, Rental status, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

## Completeness

In [ ]:
# check for null values in all the columns
autolib.isnull().any()

# no null values

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
station                False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

## Consistency

In [ ]:
# check for any duplicates in the data

autolib.duplicated()

# drop any duplicates in the data
autolib.drop_duplicates()

# no duplicates in the data

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 21 columns]

## Uniformity

In [ ]:
# Standardization: fixing messy column names to a standard format
# used strip(), lower(), replace() functions

autolib.columns = autolib.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

# preview column names
print(autolib.columns)

Index(['address', 'cars', 'bluecar_counter', 'utilib_counter',
       'utilib_1.4_counter', 'charge_slots', 'charging_status', 'city', 'kind',
       'postal_code', 'station', 'rental_status', 'slots', 'station_type',
       'status', 'subscription_status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [ ]:
# Date Type Conversion
# Make sure numbers are stored as numerical data types, string as objects and dates as datetime datatype

# check datatypes of the columns
autolib.info()

# concatenate year, month, day columns into a new column, while converting to string to enable concatenation
autolib["YearMonthDay"] = autolib["year"].astype(str).str.cat(autolib[["month", "day"]].astype(str), sep="-")
autolib.head()

# concatenate hour, minute columns into a new column
autolib['HourMinute'] = autolib['hour'].astype(str).str.cat(autolib['minute'].astype(str), sep=":")
autolib.head()

# concatenate new date column, and time column into one column as time
autolib['Time'] = autolib['YearMonthDay'].str.cat(autolib['HourMinute'], sep=" ")

# convert time column datatype from string to datetime
autolib['Time'] = pd.to_datetime(autolib['Time'])

# drop the columns that have been concatenated
autolib1 = autolib.drop(['month', 'day', 'year', 'minute', 'YearMonthDay', 'HourMinute'], axis=1)
autolib1.head()

autolib1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   kind                 5000 non-null   object
 9   postal_code          5000 non-null   int64
 10  station              5000 non-null   object
 11  rental_status        5000 non-null   object
 12  slots                5000 non-null   int64
 13  station_type         5000 non-null   object
 14  status               5000 non-null   object
 15  subscription_status  5000 non-null   object
 16  year                 5000 non-null   int64
 17  month                5000 non-null   int64
 18  day                  5000 non-null   int64
 19  hour                 5000 non-null   int64
 20  minute               5000 non-null   int64
 21  YearMonthDay         5000 non-null   object
 22  HourMinute           5000 non-null   object
 23  Time                 5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(12), object(11)
memory usage: 937.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   kind                 5000 non-null   object
 9   postal_code          5000 non-null   int64
 10  station              5000 non-null   object
 11  rental_status        5000 non-null   object
 12  slots                5000 non-null   int64
 13  station_type         5000 non-null   object
 14  status               5000 non-null   object
 15  subscription_status  5000 non-null   object
 16  hour                 5000 non-null   int64
 17  Time                 5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(8), object(9)
memory usage: 703.2+ KB

# Exporting the clean dataset

In [ ]:
# create a new csv file and export our cleaned data
autolib1.to_csv("cleanAutolib.csv")

## Loading and Reading new csv file

In [ ]:
# read new csv file using pandas library and cast it to a new dataframe
Autolib = pd.read_csv("cleanAutolib.csv")

**Preview data**

In [ ]:
# preview first 5 rows
Autolib.head()

# remove the first column-not important
auto = Autolib.drop(Autolib.columns[0], axis=1)
auto.head()

                              address  cars  ...  hour                 Time
0                 2 Avenue de Suffren     0  ...    11  2018-04-08 11:43:00
1           145 Rue Raymond Losserand     6  ...     7  2018-04-06 07:24:00
2    2 Avenue John Fitzgerald Kennedy     3  ...    20  2018-04-03 20:14:00
3              51 Rue EugÃ¨ne OudinÃ©     3  ...     4  2018-04-04 04:37:00
4  6 avenue de la Porte de Champerret     3  ...    17  2018-04-08 17:23:00

[5 rows x 18 columns]

# Analysis and Exploration

## General

In [ ]:
# total number of cities
auto['city'].nunique()

88

### Most popular hour for returning cars in all the days

In [ ]:
# most popular hour for returning cars?
auto['hour'].mode()

0    21
dtype: int64

### Most popular hour for picking cars

In [ ]:
auto['hour'].value_counts()

21    237
9     221
16    220
7     219
6     219
3     218
2     218
13    213
8     211
5     211
11    210
18    210
19    208
14    207
20    202
23    201
12    200
15    200
4     199
17    198
22    196
1     194
10    194
0     194
Name: hour, dtype: int64

### Most popular day

In [ ]:
# most popular day for all the 9 days for all the cars 
auto['Time'].mode()

0    2018-04-06 05:52:00
dtype: object

### Top five most popular cities, and least popular cities

In [ ]:
# find the frequency of each city during the month
auto['city'].value_counts()

Paris                    2816
Nanterre                  127
Issy-les-Moulineaux       101
Rueil-Malmaison            88
CrÃ©teil                   88
                         ...
Le PrÃ©-Saint-Gervais       4
Saclay                      4
Clichy la garenne           3
Saint-Maur                  2
Epinay-sur-Seine            1
Name: city, Length: 88, dtype: int64

In [ ]:
paris = auto[(auto['city'] == 'Paris')]

paris['station'].count()

2816

## Most popular hour for picking up Bluecar in Paris

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) 
# in the city of Paris over the month of April 2018.  ##8am

# save all records in Paris to new dataframe
df = auto[(auto['city'] == 'Paris')]
df

# create a new dataframe with bluecars from Paris
df1 = df[['bluecar_counter', 'hour', 'city', 'station']]
df1.head()

df1['hour'].value_counts()

21    147
16    128
8     128
3     125
6     124
2     123
9     122
10    121
7     121
12    120
5     117
17    116
23    116
13    114
19    114
4     112
20    111
18    111
15    111
0     110
14    107
11    107
22    106
1     105
Name: hour, dtype: int64

# Blue cars

In [ ]:
# What is the most popular hour for returning cars? ##9pm

blue = auto[['bluecar_counter', 'hour', 'city', 'station', 'postal_code']]
blue.head()

blue['hour'].value_counts().idxmax()

21

In [ ]:
# most popular hour for picking cars ##9am
blue['hour'].value_counts()

21    237
9     221
16    220
7     219
6     219
3     218
2     218
13    213
8     211
5     211
11    210
18    210
19    208
14    207
20    202
23    201
12    200
15    200
4     199
17    198
22    196
1     194
10    194
0     194
Name: hour, dtype: int64

In [ ]:
# # What station is the most popular  Overall?
#

blue['station'].value_counts().idxmax()

'Paris/Porte de Montrouge/8'

In [ ]:
# What station is the most popular At the most popular picking hour?  ##Puteaux/Francis de PressensÃ©/12
# 

# index the bluecars dataframe by station
blue_numeric = blue.set_index('station').select_dtypes(int)

# find the maximum indexcount(station) during the most popular picking hour 
idx = blue_numeric[(blue_numeric['hour'] ==9)].idxmax()
# check output
idx

# shows the actual/particular count for each station versus the hour
# blue_numeric.loc[idx]

bluecar_counter     Le Plessis-Robinson/GalilÃ©e/16
hour               Puteaux/Francis de PressensÃ©/12
postal_code           Enghien-les-Bains/ArrivÃ©e/19
dtype: object

In [ ]:
# What postal code is the most popular for picking up Blue cars? Overall?

postal = auto[['bluecar_counter', 'hour', 'city', 'station', 'postal_code']]
postal['postal_code'].value_counts().idxmax()

75015

In [ ]:
# which are these stations with the most popular postal code
postal[(postal['postal_code'] == 75015)]

      bluecar_counter  hour  ...                           station postal_code
0                   0    11  ...                   Paris/Suffren/2       75015
6                   0    18  ...  Paris/CitroÃ«n CÃ©vennes/Parking       75015
18                  5    20  ...           Paris/Cambronne/Parking       75015
31                  4     1  ...                  Paris/Miollis/21       75015
86                  0    22  ...       Paris/Colonel Pierre Avia/1       75015
...               ...   ...  ...                               ...         ...
4957                1    22  ...                  Paris/Pasteur/41       75015
4961                0    21  ...           Paris/Pasteur 2/Parking       75015
4964                3     6  ...                Paris/HÃ©ricart/54       75015
4973                5    13  ...                   Paris/Balard/18       75015
4996                4    16  ...                  Paris/Dantzig/37       75015

[274 rows x 5 columns]

In [ ]:
#  Does the most popular station belong to that postal code? ##NO
postal[(postal['station'] == 'Paris/Porte de Montrouge/8')]

      bluecar_counter  hour   city                     station  postal_code
122                 3    19  Paris  Paris/Porte de Montrouge/8        75014
194                 1    16  Paris  Paris/Porte de Montrouge/8        75014
360                 0    22  Paris  Paris/Porte de Montrouge/8        75014
1010                5     2  Paris  Paris/Porte de Montrouge/8        75014
1282                4    10  Paris  Paris/Porte de Montrouge/8        75014
1527                3    15  Paris  Paris/Porte de Montrouge/8        75014
2112                5    11  Paris  Paris/Porte de Montrouge/8        75014
2179                1    19  Paris  Paris/Porte de Montrouge/8        75014
2991                0    14  Paris  Paris/Porte de Montrouge/8        75014
3307                3    12  Paris  Paris/Porte de Montrouge/8        75014
3392                3    21  Paris  Paris/Porte de Montrouge/8        75014
3558                5     3  Paris  Paris/Porte de Montrouge/8        75014
4490                6     0  Paris  Paris/Porte de Montrouge/8        75014

In [ ]:
# What postal code is the most popular for picking up Blue cars? # At the most popular picking hour?##92800
#  Does the most popular station belong to that postal code?

# index the bluecars dataframe by station
blue_numeric1 = postal.set_index('postal_code').select_dtypes(int)
blue_numeric1

# find the maximum indexcount(postal_code) during the most popular picking hour 9am 
idx1 = blue_numeric1[(blue_numeric1['hour'] ==9)].idxmax()
# check output
idx1

# # shows the actual/particular count for each station versus the hour
# blue_numeric.loc[idx]

bluecar_counter    92350
hour               92800
dtype: int64

In [ ]:
#  Does the most popular station belong to that postal code? ##NO
postal[(postal['station'] == 'Paris/Porte de Montrouge/8')]

      bluecar_counter  hour   city                     station  postal_code
122                 3    19  Paris  Paris/Porte de Montrouge/8        75014
194                 1    16  Paris  Paris/Porte de Montrouge/8        75014
360                 0    22  Paris  Paris/Porte de Montrouge/8        75014
1010                5     2  Paris  Paris/Porte de Montrouge/8        75014
1282                4    10  Paris  Paris/Porte de Montrouge/8        75014
1527                3    15  Paris  Paris/Porte de Montrouge/8        75014
2112                5    11  Paris  Paris/Porte de Montrouge/8        75014
2179                1    19  Paris  Paris/Porte de Montrouge/8        75014
2991                0    14  Paris  Paris/Porte de Montrouge/8        75014
3307                3    12  Paris  Paris/Porte de Montrouge/8        75014
3392                3    21  Paris  Paris/Porte de Montrouge/8        75014
3558                5     3  Paris  Paris/Porte de Montrouge/8        75014
4490                6     0  Paris  Paris/Porte de Montrouge/8        75014

In [ ]:
#  Does the most popular station belong to that postal code? ##NO At the most popular picking hour? ##YES
postal[(postal['station'] == 'Puteaux/Francis de PressensÃ©/12')]

      bluecar_counter  hour  ...                           station postal_code
11                  1     9  ...  Puteaux/Francis de PressensÃ©/12       92800
2727                4    15  ...  Puteaux/Francis de PressensÃ©/12       92800
4006                4    20  ...  Puteaux/Francis de PressensÃ©/12       92800
4147                4    22  ...  Puteaux/Francis de PressensÃ©/12       92800

[4 rows x 5 columns]